body { padding: 0; margin: 0 }
#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: #231F20 }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: block }
#unity-logo { width: 124px; height: 50px; background: url('quantumxr-logo-bg-white.png') no-repeat center; background-size: contain; position: absolute; z-index: 9;}
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-light.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-light.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
.logoLoader {position: relative; display: flex; align-items: center; justify-content: center;}
.loadingQuantum {position: absolute;}
#btnDownloadScreenshot {
    position: absolute;
    text-decoration: none;
    transform: translate(-50%, 50px);
    left: 50%;
    bottom: 0;
    background-color: #31C4C4;
    color: #111111;
    font-weight: 500;
    padding: 12px 26px;
    border: 0px;
    border-radius: 20px;
}
.btnCloseScreenshot {
	position: absolute;
    transform: translate(10px, -10px);
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 50px;
    padding: 3px 5px;
}

.popUpDescription {
	width: 100%;
	height: 100vh;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	background: rgba(33, 33, 33, 0.3);
	backdrop-filter: blur(5px);
    color: #fafafa;
    font-family: arial; 
    font-size: 12px;
	z-index: 99;
}

.popUpDescription .popUpContent {
	width: 250px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	background: rgba(16, 16, 16, 0.8);
	backdrop-filter: blur(7px);
	padding: 28px;
	border-radius: 14px;
}

.popUpDescription .popUpContent .popUpContentBody {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.popUpDescription .popUpContent .popUpContentBody h4 {
    font-size: 18px;
    text-align: center;
    margin: 0;
}

.popUpDescription .popUpContent .popUpContentBody img {
	width: 150px;
	border-radius: 14px;
}

.popUpDescription .popUpContent a {
	text-align: right;
    display: block;
    color: #fafafa;
    position: absolute;
    top: -10px;
    right: -10px;
    background: #000;
    padding: 5px 8px;
    border-radius: 100px;
}

.popUpDescription .popUpContent .text {
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
}